#login_div
   h3 Login
   
   - if (messages)
      ul#messages
      - each message in messages
        li(class="message") #{message}

   form(action=".", method="POST")
      p
         label Usuário:
         input(name="username")
      p
         label Senha:
         input(name="password", type="password")

      p
         input(type="submit", value="Enviar")