#login_div
   form(action=".", method="POST")
      p
         label Usuário:
         input(name="username")
      p
         label Senha:
         input(name="password", type="password")

      p
         input(type="submit", value="Enviar")