#users-div
  h2=title
  form(action=".", method="POST")
    p
      label Usuário:
      input(name="username")
    p
      label Senha:
      input(type="password", name="password")

    input(type="submit", value="Adicionar usuário")
